* {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border: 2px solid red;
    list-style-type: none;
}

li {
    margin: 2px;
    text-align: center;

}

li:nth-child(even) {
    background-color: grey;
} 

h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    background-color:blue;
    color: aliceblue;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}



