* {
    margin: 0;
    padding: 0;
}

div {
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;
    color: whitesmoke;
}

h3 {

    margin-top: 10px;
}

.input {
    margin: 10px;
    text-align: center;
}

li {
    list-style-type: none;
    text-align: center;
}

li:nth-child(even) {
    background-color: red;
}

