* {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    
}

h3 {
    margin-top: 10px;
}

.input {
    margin: 10px;
    text-align: center;
}

li {
    list-style-type: none;
    text-align: center;
}


