@media screen and (max-width: 1440px) {
    .header {
        width: 100%;
    }

    .block1 {
        grid-template-columns: 300px 407px;
        column-gap: 50px;
        margin: 0;
    }

    .block2 {
        height: 750px ;
        display: grid;
        grid-template-columns: 50%;
        justify-content: center;
    }

    .block2_left img {
        margin-left: auto;
        margin-right: auto;  
    }

    .block2_left p {
        margin-left: auto;
        margin-right: auto;
    }

    .slider_wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .slider {
        margin: 0;
        display: grid;
        justify-content: left;
        grid-template-columns: 407px 407px 20px;
        grid-column-gap: 0px;
    }

    .slider img {
        width: 90%;
    }

    .block3_wrapper {
        height: 584px;
        width: 100%;
        margin-right: 0;
        grid-template-columns: 407px 300px;
        grid-column-gap: 80px;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: block;
    }

    .header_up {
        display: none;
    }

    .block2 {
        width: 100%;
        height: 500px;
    }

    .block2_left img {
        margin-top: 50px;
    }

    .ff {
        display: flex;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .slider {
        display: flex;
        justify-content: center;

        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
        line-height: 42px;
    }

    h2 {
        padding-top: 30px;
    }

    .block1 {
        display: grid;
        grid-template-columns: 407px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }

    .block1_right {
        padding: 0;
        margin-top: 30px;
    }

    .block3_wrapper {
        height: 1100px;
        display: grid;
        grid-template-columns: 407px;
        justify-content: center;        
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 32px;
        line-height: 32px;
    }

    h2 {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    p {
        width: 100%;
        font-size: 12px;
        line-height: 14px;
    }

    .h_m  {
        width: 80%;
    }

    .block1 {
        width: 100%;
        overflow-x:hidden; 
    }

    .block3_wrapper {
        height: 770px;
    }

    .block4_wrapper {
        height: 340px;
    }

    input {
        width: 250px;
    }

    .block5 {
        height: 300px;
        margin: 0;
    }

    .block5 h2 {

        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_wrapper {
        width: 100%;
        grid-template-columns: 200px;
        row-gap: 20px;
    }

    .footer_middle {
        display: none;
    }
}

    @media screen and (max-width: 425px) {    

    .block3_wrapper {
        width: 100%;
        height: 610px;
        grid-template-columns: 307px;
        margin: 0;
        justify-content: center;
    }

    .block3 img {
        width: 90%;
    }


    .block5 p {
        width: 90%;
        margin: 0;
    }

    .btn_wrapper img {
        display: none;
    }
    .btn_wrapper {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 187px;
        row-gap: 5px;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) { 
    .block1_left {
        width: 305px ;
        margin-left: 50px;
    }

    .block5 {
        width: 100%;
    }

    .block5 h2 {
        margin: 0;
        padding-top: 30px;
        justify-content: center;
    }

    .block5 p {
        width: 90%;
        margin: 0;
        padding-left: 5px;
    }
}

@media screen and (max-width: 375px) {
    input {
        width: 150px;
    }

    .block3 {
        width: 100%;
    }
}

