* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

div {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  padding: 14px;
}

input {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 9px 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3dcfc2;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}



































