$mainColor: rgb(255, 255, 255);
$shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
    box-sizing: border-box;
}

%baseGrid {
    display: grid;
    justify-content: center;
    justify-items: center;
}

body {
    background-image: url(https://wallpaperaccess.com/full/2484003.jpg);
    height: 100%;
}

.welcome {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 18px;
}

#logo {
    width: 10%;
    position: absolute;
    left: 84%;
    top: 70%;
    margin: 10px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.card {
    background: $mainColor;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 30px;
    @extend %baseGrid;
    row-gap: 15px;
    cursor: pointer;
    @media screen and (max-width: 992px) {
        row-gap: 30px;
    }
    img {
        max-width: 50%;
        transition: .6s;
        &:hover {
            opacity: 50%;
        }
    }
}

menu {
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
}

h1 {
    text-align: center;
}

body {
    margin: 0;
}

.modal-wrapper {
    display: flex;
    background: #00000047;
    position: fixed;
    @include widthHeight(100vw, 100vh);
    // height: 100vh;
    // width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.modal-box {
    position: relative;
    background: $mainColor;
    max-width: 800px;
    @include widthHeight(100%, 70vh);
    // width: 100%;
    // height: 70vh;
    padding: 60px;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.counter-block {
    display: flex;
    background: #F0F0F3;
    box-shadow: inset 5px 5px 4px rgba(174, 174, 192, 0.2), inset -5px -5px 4px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    width: 160px;
    justify-content: space-between;
    align-items: center;
    color:  #A3ADB2;
    font-size: 24px;
}

.counter-block span {
    background: #F0F0F3;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4), 5px 5px 10px rgba(174, 174, 192, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
    border-radius: 20px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #A3ADB2;
    font-size: 18px;
}

#app-footer {
    height: 50vh;
    background-color: #A3ADB2;
}
.text {
    font-size: 42px;
}